__pycache__/
.dockerignore
.DS_Store
.flake8
.git
.gitignore
.pre-commit-config.yaml
.pytest_cache/
*.env.
*.log
*.pyc
*.pyo
coverage.*
docker-compose.dev.yml
docker-compose.prod.yml
Dockerfile
docs/
LICENSE
logs/
meta/
pytest.ini
README.md