[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
django-filter = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
python-decouple = "*"
gunicorn = "*"
uvicorn = "*"
psycopg2-binary = "*"
django-allauth = "*"
dj-rest-auth = "*"

[dev-packages]
black = "*"
pre-commit = "*"
pytest = "*"
pytest-django = "*"
flake8 = "*"
isort = "*"
factory-boy = "*"
faker = "*"

[requires]
python_version = "3.13"
