[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
python-decouple = "*"
gunicorn = "*"
uvicorn = "*"
psycopg2-binary = "*"
django-redis = "*"
pydantic = "*"

[dev-packages]
mypy = "*"
django-stubs = "*"
bandit = "*"
flake8-bandit = "*"
black = "*"
pre-commit = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.13"
